html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.blog-post-list-container{
  opacity: 1;
  transition: all 0.5s;
}
.blog-post-list-container:hover {
  opacity: 0.5;
}
